<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvDMXG63HFqiqpV_hZnT9hFpzdrmh8MVU</string>
	<key>GCM_SENDER_ID</key>
	<string>517374375848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uniShuttle</string>
	<key>PROJECT_ID</key>
	<string>uni-shuttle-81ade</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-shuttle-81ade.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517374375848:ios:472146da440a99f84c8f9d</string>
</dict>
</plist>